# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore system files
.DS_Store

# Ignore IDE/editor settings
.idea/
.vscode/
.claude/

# Ignore the user entries
entries/

# ignore test file
test.py

# PyInstaller build artifacts
build/
dist/